p{
    text-aling: justify;

}
h1{
    background-color: #B200B9;
    color: #000000;
    text-align: center;

}
h2{
    background-color: #000000;
    color: #FFFFFF;
}
h3{
    background-color: #909090;
    text-align: center;

}
*{
    font-family:Verdana, arial, helvetica, sans-serif;
    font-variant: small-caps;
    font-weight: normal;
}
.negrita{
    font-weight: bold;

}
.letra-azul{
    color: #2849Ef;

}
.fondo-amarillo{
    color:#000000;
    background-color: #ffff00;
}
.fondo-azul{
    background-color: #0048ff;
}
.letra-roja{
    color: red;

}
.letra-morada{
    color: #AB00FA;
    background-color: #000000;
}
p:first-letter{
    color: #FF0000;;
   
}
p:first-line{
    color: #0000FF;
}
p::selection{
    color: #FFFFFF;
    background-color: #000000;
}
a:link{
    color:#0018FF
}
a:visited{
    color:#FF0000
}
a:hover{
    background-color: #00ff06;
    color:#FFFFFF;
}

